.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.txt p{
    padding: 20px 0px 20px 100px;
    font-size: 24px;
    color: rgb(0, 0, 16);
}

.shirts{
    margin-left: 80px;
    margin-bottom: 70px;
    width:250px;
    height:450px;
    border-style: solid;
    border-radius: 15px;;
    border-style: solid;
    border-width: 7px;
    border-color: rgb(29, 51, 100);
}

button{
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #04225e;
  color: #fff;
  padding: 12px 12px;
  margin: 10px 10px;
  font-size: 16px;
  cursor: pointer;
}
.content img{
    width: 250px;
    border-radius: 10px;
}

.contentName{
padding: 0px;
margin: 15px 20px 15px 20px;
font-weight:bold;
font-size: 22px;
}

.smallContent{
    padding: 0px;
    margin: 15px 20px 15px 20px;
}

#filter{
    background-color: rgba(0, 0, 0, 0.6);
    position:fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    display: none;
    z-index: 100;
}

#modal{
    background-color: #fff;
    position:fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    display: none;
    z-index: 150;
    width:500px;
    height:350px;
    border-style: solid;
    border-radius: 15px;;
    border-style: solid;
    border-width: 7px;
    border-color: rgb(29, 51, 100);
    margin: auto;

}

#modal img{
    width:250px;
    display:inline-block;
}

@media(max-width: 500px){
    #modal{
        width:300px;
        height:230px;
        border-radius: 15px;;
        border-width: 4px;
    }
    
    #modal img{
        width:150px;
        border-radius: 15px;
        display:inline-block;
    }
}